

body{ font-family:calbri;  width:550px}

.main-wrapper{ max-width:700px!important;  margin:auto; background:#f6f6f6; padding:0;

min-width:568px!important;}

.padding0{ padding:0!important;}

.header{ background: #ededed none repeat scroll 0 0;
    border:2px solid #e6e6e6;
    margin: 0 0 20px;
    padding:10px 20px;
    position: relative;}
	
	
.logo {
    float: right;
    font-weight: bold;
    text-align: center;
 
    width: 90%;
}
 .right-sec-action button{ padding:5px 10px; }
 
.right-sec {
    float: right;
    width: 20%;
}
.right-sec  .btn-group>.btn+.dropdown-toggle{ padding:13px!important;}
.right-sec .dropdown-menu{
	min-width:auto!important;
	padding:2px!important;
}
.right-sec .dropdown-menu>li>a{padding:2px!important;}

.midle-sec {
    float: left;
    width: 50%;
	padding-top:8px;
}
.left-sec {
    float: left;
    width: 20%;
}
 
.logo a{  color: inherit;
    font-size: 16px;
    position: relative;
    text-decoration: none;
    top: 2px;}

.logo a:hover{ color:inherit; text-decoration:none;}	

.side-menu .glyphicon {
    font-size: 26px;
}

.action-field{position: absolute;
    right: 21px;
    top: -2px;}

.footer{ padding:30px; text-align:center; width:100%;}	





/**table**/

.custab{
    border: 1px solid #ccc;
    padding: 5px;
    margin: 2% 0;
   
    transition: 0.5s;
    }
.custab:hover{
    box-shadow: 3px 3px 0px transparent;
    transition: 0.5s;
    }
.custab th{ background:#ededed;  border-right: 1px solid #cccccc; }

.custab td{ border-right: 1px solid #cccccc;}

button a{ color:inherit;}

/**for right side menu**/
.side-menu{   background: #fcfcfc none repeat scroll 0 0;
    cursor: pointer;
    left: -10px;
    padding: 18px 8px 4px;
    position: relative;
    text-transform: uppercase;
    top: 0;}

.side-menu .fa{ font-size:25px;}

.sidenav {
    min-height: 450px;
    width: 0;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
  
    transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
   
	text-align:left;
	padding-top:75px;
}

.sidenav a {
    border-bottom: 1px dotted #eee;
    color: #212121 !important;
    display: block !important;
    font-size: 13px;
    margin: auto !important;
	overflow:hidden;
	
    text-decoration: none;
    width: 80%;
	padding:5px 0;
	
	transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	
	
	
}

.sidenav a:first-child{ border: medium none;
    margin: 0 !important;
    padding: 0 !important;
    text-align: left;}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px !important;
    margin-left: 50px;
}
