<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

<title>facebook extension understanding</title>
<script src="js/jquery.min.js"></script>
 <link href="css/style.css" rel="stylesheet">
  <script src="js/bootstrap.min.js"></script>
  <script src="js/angular.min.js"></script>
  <!-- Bootstrap -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
 
</head>
 
<body   ng-app="myApp"  ng-controller="pagedetail">
	
		<div class="main-wrapper">
			
		
		<header class="header">
		 
            <div id="mySidenav" class="sidenav" style="z-index:99999;">
              <a href="javascript:void(0)" class="closebtn" id="closeNav">×</a>
              <a href="index.html">Activity</a>
            <a href="approve-member.html">Approve Members</a>
            <a href="automatic-reponses.html">Automatic Reponses</a>
            <a href="blacklist.html">Blacklist</a>
            <a href="canned-response.html">Canned response</a>
            <a href="#">Delete Post/Comment/Sub-Comment</a>
            <a href="#">General Setting Data</a>
            <a href="approve-post.html">Approve Post</a>
            <a href="post-scheduled.html">Post Scheduled Jumping</a>
            <a href="sweeping.html">Sweeping</a>
            
   
		</div>
        <span class="side-menu"   id="openNav"><span class="glyphicon glyphicon-menu-hamburger"></span></span>
                
         <!--end side menu-->
		 
		 
		 <span class="logo"><a href="index.html">Facebook Extension</a></span>
		
		</header>
<form class="form-horizontal" method="post">		
<div class="container" ng-init="loadApproverRecord()"  >
		<div class="row">
		 
		<div class="col-sm-12">
		<div class="row">
		<div class="col-sm-12">
        <div class="left-sec"><a href="approve-members.html"><button type="button" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span> Back</button></a></div>
        <div class="midle-sec"><strong>Approve Members</strong> </div>
         <div class="right-sec">
		<div class="btn-group right-sec-action"> 
		<button type="button"  class="btn btn-default" ng-click="newsave()" >Save</button><button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
		<span class="caret"></span> <span class="sr-only">Toggle Dropdown</span> </button> 
		<ul class="dropdown-menu"> 
		
		<li ng-click="deleterecord()"  ><a href="#"   >Delete</a></li> </ul> </div>
		
		</div>
         </div></div>
        <p></p>
		<div class="well">
		
		<p></p>
		
	<p></p>	

<fieldset>


<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="giftName">Group Name</label>  
  <div class="col-md-4">
  <input id="group_name"  type="text" ng-model="approveMember.group_name"  placeholder=" "    class="form-control input-md"  >
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="giftID">Group ID</label>  
  <div class="col-md-4">
  <input    ng-model="approveMember.group_Id" id="group_Id"   class="form-control input-md">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="Time">Tag Interval Time</label>  
  <div class="col-md-4">
  
  <input id="tagging_interval_time" name="tagid" type="text" ng-model="approveMember.tagging_interval_time" placeholder="Tag Interval Time"   class="form-control input-md">
    
  </div>
</div>



<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="Parameters">Limitation Parameters</label>
  <div class="col-md-4">
 <div class="form-group">
  <label class="col-md-4 control-label" for="Time">Minimum time in FB</label>  
  <div class="col-md-4">
  
  <input id="limit_min_joined_duration" name="tagid" type="text" ng-model="approveMember.limit_min_joined_duration" placeholder=" "   class="form-control input-md">
    
  </div>
</div>
<div class="form-group">
  <label class="col-md-4 control-label" for="Time">Number of groups in which he is Member</label>  
  <div class="col-md-4">
  
  <input id="tagging_interval_time" name="tagid" type="text" ng-model="approveMember.limit_max_group_joined" placeholder=" "  class="form-control input-md">
    
  </div>
</div>
<div class="form-group">
  <label class="col-md-4 control-label" for="Time">Just From Country</label>  
  <div class="col-md-4">
  
  <input id="limit_county_name" ng-model="approveMember.limit_county_name" type="text" placeholder=" "  class="form-control input-md">
    
  </div>
</div>
<div class="form-group">
  <label class="col-md-4 control-label" for="Time">Live in City</label>  
  <div class="col-md-4">
  
  <input id="limit_city_name" ng-model="approveMember.limit_city_name" type="text" placeholder=" "   class="form-control input-md">
    
  </div>
</div>
<div class="form-group">
  <label class="col-md-4 control-label" for="Time">Language </label>  
  <div class="col-md-4">
  
  <input id="limit_language" ng-model="approveMember.limit_language" type="text" placeholder=" "   class="form-control input-md">
    
  </div>
</div>
  </div>
</div>



<!-- Select action -->
 

</fieldset>

		</div>
		</div>
		
		
		</div>
	
	</div>
		
</form>

   <script src="js/menu.js"></script>
   <script src="app/app.js"></script>
   <script src="app/controllers/approve-members.js"></script>
   
</body>
</html>