<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Group Manager - Blacklist Add/Edit</title>
  <script src="js/jquery.min.js"></script>
  <link href="css/style.css" rel="stylesheet">
  <script src="js/bootstrap.min.js"></script>
  <script src="js/angular.min.js"></script>
  <link href="css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
  <div class="main-wrapper">
    <header class="header">
      <div id="mySidenav" class="sidenav" style="z-index:99999;">
        <a href="javascript:void(0)" class="closebtn" id="closeNav">×</a>
        <a href="index.html">Activity</a>
        <a href="approve-member.html">Approve Members</a>
        <a href="automatic-reponses.html">Automatic Reponses</a>
        <a href="blacklist.html">Blacklist</a>
        <a href="canned-response.html">Canned response</a>
        <a href="#">Delete Post/Comment/Sub-Comment</a>
        <a href="#">General Setting Data</a>
        <a href="approve-post.html">Approve Post</a>
        <a href="post-scheduled.html">Post Scheduled Jumping</a>
        <a href="sweeping.html">Sweeping</a>
		<a href="manage-profile.html">Manage Profiles</a>
		<a href="post-groups.html">Post Groups</a>
      </div>
      <span class="side-menu" id="openNav"><span class="glyphicon glyphicon-menu-hamburger"></span></span>
      <!--end side menu-->
      <span class="logo"><a href="index.html">Facebook Extension</a></span>
    </header>
    <div class="container" ng-app="gmapp" ng-controller="approveMember_edit">
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-12">
              <div class="left-sec"><a href="approve-member.html">
                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span> Back</button></a></div>
              <div class="midle-sec"><strong>Approve Members</strong></div>
              <div class="right-sec">
                <div class="btn-group right-sec-action">
                  <button type="submit" form="form1" class="btn btn-default">Save</button>
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
		                  <span class="caret"></span> 
                      <span class="sr-only">Toggle Dropdown</span>
                   </button>
                  <ul class="dropdown-menu">
                    <li><a href="#" ng-click="delete()" >Delete</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <p></p>
          <p></p>
          <div class="well">
            <form class="form-horizontal" name="form1" id="form1" ng-submit="submitForm()">
              <fieldset>
                <input type="hidden" id="approve_post_id" ng-model="approve_post_id" />
               
                <!-- Text input-->
				 <div class="form-group">
                  <label class="col-md-4 control-label" for="giftID">Approve Members Id</label>
                  <div class="col-md-4">
                    <input id="approve_members_id" name="approve_members_id" type="text" placeholder="Group Id" class="form-control input-md" ng-model="approve_members_id" required>
					<span ng-show="form1.approve_members_id.$untouched && form1.approve_members_id.$invalid" style="color:red">Approve Members Id is required.</span>
				  </div>
                </div>
				
                <div class="form-group">
                  <label class="col-md-4 control-label" for="giftID">Group Id</label>
                  <div class="col-md-4">
                    <input id="group_id" name="group_id" type="text" placeholder="Group id" class="form-control input-md" ng-model="group_id" required>
					<span ng-show="form1.group_id.$untouched && form1.group_id.$invalid" style="color:red">Group Id is required.</span>
				  </div>
                </div>
				
				 <div class="form-group">
                  <label class="col-md-4 control-label" for="giftName">Group name</label>
                  <div class="col-md-4">
                    <input id="group_name" name="group_name" type="text" placeholder="Group name" class="form-control input-md" required ng-model="group_name">
					<span ng-show="form1.group_name.$untouched && form1.group_name.$invalid" style="color:red">Group name is required.</span>
				  </div>
                </div>
				
				 <div class="form-group">
                  <label class="col-md-4 control-label" for="Time">Tagging Interval Time </label>
                  <div class="col-md-4">
                    <input id="tagging_interval_time" name="tagging_interval_time" type="text" placeholder="Block Profile" class="form-control input-md" required ng-model="tagging_interval_time">
					<span ng-show="form1.tagging_interval_time.$untouched && form1.tagging_interval_time.$invalid" style="color:red">Tagging Interval Time is required.</span>
				  </div>
                </div>
				
				<div class="form-group">
                  <label class="col-md-4 control-label" for="Time">Limit Min Joined Duration </label>
                  <div class="col-md-4">
                    <input id="limit_min_joined_duration" name="limit_min_joined_duration" type="text" placeholder="Block Word" class="form-control input-md" required ng-model="limit_min_joined_duration">
					<span ng-show="form1.limit_min_joined_duration.$untouched && form1.limit_min_joined_duration.$invalid" style="color:red">Limit Min Joined Duration is required.</span>
				  </div>
                </div>
				
				<div class="form-group">
                  <label class="col-md-4 control-label" for="Time">Limit Max Joined Duration </label>
                  <div class="col-md-4">
                    <input id="limit_max_group_joined" name="limit_max_group_joined" type="text" placeholder="Block Word" class="form-control input-md" required ng-model="limit_max_group_joined">
					<span ng-show="form1.limit_max_group_joined.$untouched && form1.limit_max_group_joined.$invalid" style="color:red">Limit Max Joined Duration is required.</span>
				  </div>
                </div>
				
				
				<div class="form-group">
                  <label class="col-md-4 control-label" for="Time">Limit County Name</label>
                  <div class="col-md-4">
                    <input id="limit_county_name" name="limit_county_name" type="text" placeholder="Block Word" class="form-control input-md" required ng-model="limit_county_name">
					<span ng-show="form1.limit_county_name.$untouched && form1.limit_county_name.$invalid" style="color:red">Limit County Name is required.</span>
				  </div>
                </div>
				
				<div class="form-group">
                  <label class="col-md-4 control-label" for="Time">Limit City Name</label>
                  <div class="col-md-4">
                    <input id="limit_city_name" name="limit_city_name" type="text" placeholder="Block Word" class="form-control input-md" required ng-model="limit_city_name">
					<span ng-show="form1.limit_city_name.$untouched && form1.limit_city_name.$invalid" style="color:red">Limit City Name is required.</span>
				  </div>
                </div>
				
				
				<div class="form-group">
                  <label class="col-md-4 control-label" for="Time">Limit Language</label>
                  <div class="col-md-4">
                    <input id="limit_language" name="limit_language" type="text" placeholder="Block Word" class="form-control input-md" required ng-model="limit_language">
					<span ng-show="form1.limit_language.$untouched && form1.limit_language.$invalid" style="color:red">Limit Language is required.</span>
				  </div>
                </div>
				
				
                <!-- Text input-->

                <!-- Select action -->
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Data Saved</h4>
          </div>
          <div class="modal-body">
            <p>Approve Member successfully saved.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">
               OK
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="myModalDelete" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Data Deleted</h4>
          </div>
          <div class="modal-body">
            <p>Approve Member successfully deleted.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">
               OK
            </button>
          </div>
        </div>
      </div>
    </div>

    <script src="js/menu.js"></script>
    <script src="app/app.js"></script>
    <script src="app/controllers/approve-members.js"></script>
</body>

</html>