<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Group Manager - Blacklist List</title>
    <script src="js/jquery.min.js"></script>
    <link href="css/style.css" rel="stylesheet">
    <script src="js/bootstrap.min.js"></script>    
    <script src="js/angular.min.js"></script>
    <link href="css/bootstrap.min.css" rel="stylesheet">	
</head>

<body>
    <div class="main-wrapper">
        <header class="header">
            <div id="mySidenav" class="sidenav" style="z-index:99999;">
                <a href="javascript:void(0)" class="closebtn" id="closeNav">×</a>
                <a href="index.html">Activity</a>
                <a href="approve-member.html">Approve Members</a>
                <a href="automatic-reponses.html">Automatic Reponses</a>
                <a href="blacklist.html">Blacklist</a>
                <a href="canned-response.html">Canned response</a>
                <a href="#">Delete Post/Comment/Sub-Comment</a>
                <a href="#">General Setting Data</a>
                <a href="approve-post.html">Approve Post</a>
                <a href="post-scheduled.html">Post Scheduled Jumping</a>
                <a href="sweeping.html">Sweeping</a>
				<a href="manage-profile.html">Manage Profiles</a>
				<a href="post-groups.html">Post Groups</a>
            </div>
            <span class="side-menu" id="openNav"><span class="glyphicon glyphicon-menu-hamburger"></span></span>
            <!--end side menu-->
            <span class="logo"><a href="index.html">Facebook Extension</a></span>
        </header>
        <div class="container" ng-app="gmapp" ng-controller="approve_memberList">
            <div class="row">
                <div class="col-sm-12">
				 <p> <strong>Approve Members Rule List</strong> </p>
                    <table class="table table-striped custab" id="tblardata">
                        <thead>
                            <tr>
                                <th>Group Name</th>
                                <th>Group ID</th>
                                <th>Tag Interval Time</th>
                                <th>Limitation Parameters</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tr ng-repeat="r in Member">
                            <td style="display:none">{{ r.approve_members_id}}</td>
                            <td>{{r.group_name }}</td>
                            <td>{{r.group_id}}</td>
							<td>{{r.tagging_interval_time }}</td>
                            <td>
								<p>Minimum time in FB: <label>{{r.limit_min_joined_duration}}</label> Days</p>
								<!--<p>Number of groups in which he is Member : <label>{{r.limit_max_group_joined}}</label> Days</p>
								<p>Just From Country : <label>{{r.limit_county_name}}</label> Days</p>
								<p>Live in City : <label>{{r.limit_city_name}}</label> Days</p>
								<p>Language : <label>{{r.limit_language}}</label> Days</p>-->
							
							</td>
                            <td class="text-center">
                                <a class='btn btn-info btn-xs' ng-href="approve-member-edit.html?gid={{ r.approve_members_id }}" style="margin:2px 0"><span class="glyphicon glyphicon-edit"></span> Edit</a>
								<a id="grmemberscan" style="display:none" class='btn btn-info btn-xs' ng-click='scanGroupFn(r.group_id)'  href="#"><span class="glyphicon glyphicon-play"></span> Execute</a>
                            </td>
                        </tr>
                        <tr ng-hide="member.length">
                            <td colspan="5">No data</td>
                        </tr>
                    </table>
                    <a href="page-details.html?gid=0"><button type="button" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span>Add New Approve Members</button></a>
					
                </div>
            </div>
			<div class="modal fade" id="myListModal" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Group Scan</h4>
          </div>
          <div class="modal-body">
            
				<table class="table table-striped custab" >
                        <thead>
                            <tr>
                                <th>User Name</th>
                                <th>Con.</th>
                                <th>City</th>
                                <th>Max Group</th>
                                <th>Lang.</th>
								<th>Durat.</th>
								<th>B.L.</th>
								<th>Action</th>
                            </tr>
                        </thead>
                        <tr ng-repeat="r in scanlist">
                            <td>{{ r.userName }}</td>
                            <td>{{ r.IsCountry }}</td>
                            <td>{{ r.IsCity }}</td>
                            <td>{{ r.IsMaxGroupJoined }}</td>
                            <td>{{ r.IsLanguage }}</td>
                            <td>{{ r.MinDuration}}</td>
							<td>{{ r.IsBlackList}}</td>
							<td>
								<input id="hdIsApprove_{{$index}}" type="hidden" value="{{ r.IsApprove}}" />
								<input id="hdUID_{{$index}}" type="hidden" value="{{ r.UID}}" />
								<input id="hduserName_{{$index}}" type="hidden" value="{{ r.userName}}" />
                                <a class='btn btn-default btn-xs' href="#" ng-click='activateRequest($index,r.UID,r.userName)'  ><span class="glyphicon glyphicon-edit"></span> Activate</a>
                            </td>
                        </tr>
                    </table>
			
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal"  >
               Cancel
            </button>
			<button type="button" class="btn btn-default" ng-click="activateAll()" >
               Activate All
            </button>
			<button type="button" class="btn btn-default" ng-click="getTestPost()" >
               Wish Comment
            </button>
          </div>
        </div>
      </div>
    </div>
        </div>
        <script src="js/menu.js"></script>
		<script src="app/app.js"></script>
		<script src="app/controllers/approve-members.js"></script>
		
</body>
</html>