<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Group Manager - Blacklist List</title>
    <script src="js/jquery.min.js"></script>
    <link href="css/style.css" rel="stylesheet">
    <script src="js/bootstrap.min.js"></script>
    
    <script src="js/angular.min.js"></script>
    <link href="css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="main-wrapper">
        <header class="header">
            <div id="mySidenav" class="sidenav" style="z-index:99999;">
                <a href="javascript:void(0)" class="closebtn" id="closeNav">×</a>
                <a href="index.html">Activity</a>
                <a href="approve-member.html">Approve Members</a>
                <a href="automatic-reponses.html">Automatic Reponses</a>
                <a href="blacklist.html">Blacklist</a>
                <a href="canned-response.html">Canned response</a>
                <a href="#">Delete Post/Comment/Sub-Comment</a>
                <a href="#">General Setting Data</a>
                <a href="approve-post.html">Approve Post</a>
                <a href="post-scheduled.html">Post Scheduled Jumping</a>
                <a href="sweeping.html">Sweeping</a>
				<a href="manage-profile.html">Manage Profiles</a>
				<a href="post-groups.html">Post Groups</a>
            </div>
            <span class="side-menu" id="openNav"><span class="glyphicon glyphicon-menu-hamburger"></span></span>
            <!--end side menu-->
            <span class="logo"><a href="index.html">Facebook Extension</a></span>
        </header>
        <div class="container" ng-app="gmapp" ng-controller="approve_post_list">
            <div class="row">
                <div class="col-sm-12">
				 <p> <strong>Approve Post</strong></p>
                    <table class="table table-striped custab">
                        <thead>
                            <tr>
                                <th>Group ID</th>
                                <th>Group Name </th>
                                <th>Tag Profile</th>
								 <th>Scan Word</th>
								 <th>Comment</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tr ng-repeat="r in Apost">
                            <td>{{r.group_id}}</td>
                            <td>{{r.group_name }}</td>
                            <td>{{r.tag_member }}</td>
							<td>{{r.scan_word }}</td>
							<td>{{r.comment_text }}</td>
                            <td class="text-center">
                                <a class='btn btn-info btn-xs' ng-href="approve-post-edit.html?gid={{ r.approve_post_id }}" style="margin:2px 0"><span class="glyphicon glyphicon-edit"></span> Edit</a>
                            </td>
                        </tr>
                        <tr ng-hide="Apost.length">
                            <td colspan="5">No data</td>
                        </tr>
                    </table>
					<a href="approve-post-edit.html?gid=0"><button type="button" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span>Add New Approve Post</button></a>
                </div>
            </div>
        </div>
        <script src="js/menu.js"></script>        
		<script src="app/app.js"></script>
        <script src="app/controllers/approve-post.js"></script>
		
</body>
</html>