<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <script src="js/jquery.min.js"></script>
  <link href="css/style.css" rel="stylesheet">
  <script src="js/bootstrap.min.js"></script>
  <script src="js/angular.min.js"></script>
  <link href="css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
  <div class="main-wrapper">
    <header class="header">
      <div id="mySidenav" class="sidenav" style="z-index:99999;">
        <a href="javascript:void(0)" class="closebtn" id="closeNav">×</a>
        <a href="index.html">Activity</a>
        <a href="approve-member.html">Approve Members</a>
        <a href="automatic-reponses.html">Automatic Reponses</a>
        <a href="blacklist.html">Blacklist</a>
        <a href="canned-response.html">Canned response</a>
        <a href="#">Delete Post/Comment/Sub-Comment</a>
        <a href="#">General Setting Data</a>
        <a href="approve-post.html">Approve Post</a>
        <a href="post-scheduled.html">Post Scheduled Jumping</a>
        <a href="sweeping.html">Sweeping</a>
		<a href="manage-profile.html">Manage Profiles</a>
		<a href="post-groups.html">Post Groups</a>
      </div>
      <span class="side-menu" id="openNav"><span class="glyphicon glyphicon-menu-hamburger"></span></span>
      <!--end side menu-->
      <span class="logo"><a href="index.html">Facebook Extension</a></span>
    </header>
    <div class="container" ng-app="gmapp" ng-controller="automaticResponse_edit">
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-12">
              <div class="left-sec">
                <a href="automatic-reponses.html">
                  <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span>Back</button>
                </a>
              </div>
              <div class="midle-sec"><strong>Automatic Reponses</strong> </div>
              <div class="right-sec">
                <div class="btn-group right-sec-action">
                  <button type="submit" form="form1" class="btn btn-default">Save</button>
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
		              <span class="caret"></span> <span class="sr-only">Toggle Dropdown</span> </button>
                  <ul class="dropdown-menu">
                    <li><a href="#" ng-click="delete()">Delete</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <p></p>
          <div class="well">
            <p></p>
            <form class="form-horizontal" name="form1" id="form1" ng-submit="submitForm()">
              <input type="hidden" id="automatic_response_id" ng-model="automatic_response_id" />
              <fieldset>
                <!-- Text input-->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="group_name">Group Name</label>
                  <div class="col-md-4">
                    <input id="group_name" name="group_name" type="text" placeholder="Group Name" ng-model="group_name" class="form-control input-md"
                      required="Group name is required">
                  </div>
                </div>
                <!-- Text input-->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="group_id">Group ID</label>
                  <div class="col-md-4">
                    <input id="group_id" name="group_id" type="text" placeholder="Group ID" ng-model="group_id" class="form-control input-md">
                  </div>
                </div>
                <!-- Text input-->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="comment">Comment</label>
                  <div class="col-md-4">
                    <input id="comment" name="comment" type="text" placeholder="Comment Interval(in minutes)" ng-model="comment" class="form-control input-md">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-4 control-label" for="interval_minute">Interval(in minutes)</label>
                  <div class="col-md-4">
                    <input id="interval_minute" name="interval_minute" type="text" placeholder="Interval in minutes" ng-model="interval_minute"
                      class="form-control input-md">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-4 control-label" for="scan_word">Scan Words</label>
                  <div class="col-md-4">
                    <input id="scan_word" name="scan_word" type="text" placeholder="Word to scan" ng-model="scan_word" class="form-control input-md">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-4 control-label" for="tag_group_id">Tag Group ID</label>
                  <div class="col-md-4">
                    <input id="tag_group_id" name="tag_group_id" type="text" ng-model="tag_group_id" class="form-control input-md" placeholder="Group ID to tag">
                  </div>
                </div>
                <!-- Select action -->
                <!-- file testing : start -->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="tag_group_id">Image upload test</label>
                  <div class="col-md-4">
                    <input type="file" id="file1" name="file" multiple ng-files="getTheFiles($files)" />
                    <input type="button" ng-click="uploadFiles()" value="Upload" />
                  </div>
                </div>
                <!-- file testing : end -->
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Modals -->
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Data Saved</h4>
          </div>
          <div class="modal-body">
            <p>Automatic response successfully saved.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">
               OK
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="myModalDelete" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Data Deleted</h4>
          </div>
          <div class="modal-body">
            <p>Automatic response successfully deleted.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">
               OK
            </button>
          </div>
        </div>
      </div>
    </div>

   <script src="js/menu.js"></script>
   <script src="app/app.js"></script>
   <script src="app/controllers/automatic-response.js"></script>
</body>

</html>