<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>facebook extension understanding</title>
	  <script src="js/jquery.min.js"></script>
	  <link href="css/style.css" rel="stylesheet">
	  <script src="js/bootstrap.min.js"></script>
	  <script src="js/angular.min.js"></script>
	  <link href="css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="main-wrapper" ng-app="gmapp" ng-controller="activity_list">
        <header class="header">
            <div id="mySidenav" class="sidenav" style="z-index:99999;">
                <a href="javascript:void(0)" class="closebtn" id="closeNav">×</a>
                <a href="index.html">Activity</a>
                <a href="approve-member.html">Approve Members</a>
                <a href="automatic-reponses.html">Automatic Reponses</a>
                <a href="blacklist.html">Blacklist</a>
                <a href="canned-response.html">Canned response</a>
                <a href="#">Delete Post/Comment/Sub-Comment</a>
                <a href="#">General Setting Data</a>
                <a href="approve-post.html">Approve Post</a>
                <a href="post-scheduled.html">Post Scheduled</a>
                <a href="sweeping.html">Sweeping</a>
				<a href="manage-profile.html">Manage Profiles</a>
				<a href="post-groups.html">Post Groups</a>
				<a href="post-messages.html">Message</a>				
				<a href="profile-list.html">Profile List</a>				
            </div>
            <span class="side-menu" id="openNav"><span class="glyphicon glyphicon-menu-hamburger"></span></span>
            <!--end side menu-->
            <span class="logo"><a href="index.html">Facebook Extension</a></span>	
			<div style="float:right;margin-top:-25px"><button ng-click="logOut()" value="logout" text="logout">Logout</button></div>
        </header>
        <div class="container" >
            <div class="row">
                <div class="col-sm-12">
                    <p> <strong>Activity</strong> </p>
                    <div class="bs-docs-section">
                        <div class="bs-example bs-example-bg-classes" data-example-id="contextual-backgrounds-helpers" ng-repeat="r in actvities">						
                            <div class="alert alert-info" role="alert">{{r.created_on | date}}::{{r.activity_desc}}</div>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="js/menu.js"></script>
		<script src="app/app.js"></script>
		<script src="app/controllers/activity.js"></script>
		<script src="app/controllers/login.js"></script>
</body>

</html>