<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>facebook extension understanding</title>
    
	  <script src="js/jquery.min.js"></script>
	  <link href="css/style.css" rel="stylesheet">
	  <script src="js/bootstrap.min.js"></script>
	  <script src="js/angular.min.js"></script>
	  <link href="css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="main-wrapper">
        <div class="container" ng-app="gmapp" ng-controller="login">
            <div class="row text-center">
				<div class="col-sm-4" style="width:300px; margin:80px auto 0;">
					<div class="form-login">
					<form class="form-horizontal" name="form1" id="form1" ng-submit="loginSubmit()">
					<h4><strong>Login</strong></h4>
						<input type="text" id="email" name="email" class="form-control input-sm chat-input" placeholder="Email/Username" required ng-model="email" />
						<span ng-show="form1.email.$untouched && form1.email.$invalid" style="color:red">Email is required.</span>
					</br>
						<input type="password" id="password" class="form-control input-sm chat-input" placeholder="Password" required ng-model="password" />
						<span ng-show="form1.password.$untouched && form1.password.$invalid" style="color:red">Password is required.</span>
					</br>
					<span class="group-btn btn-default text-right">     						
						<button type="submit" form="form1" class="btn btn-default" >login</button>
					</span>
					</form>
					</div>
					
				</div>
			</div>
        </div>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="js/menu.js"></script>
		<script src="app/app.js"></script>
		<script src="app/controllers/login.js"></script>
</body>

</html>