<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Group Manager - Blacklist Add/Edit</title>
  <script src="js/jquery.min.js"></script>
  <link href="css/style.css" rel="stylesheet">
  <script src="js/bootstrap.min.js"></script>
  <script src="js/angular.min.js"></script>
  <link href="css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
  <div class="main-wrapper">
    <header class="header">
      <div id="mySidenav" class="sidenav" style="z-index:99999;">
        <a href="javascript:void(0)" class="closebtn" id="closeNav">×</a>
        <a href="index.html">Activity</a>
        <a href="approve-member.html">Approve Members</a>
        <a href="automatic-reponses.html">Automatic Reponses</a>
        <a href="blacklist.html">Blacklist</a>
        <a href="canned-response.html">Canned response</a>
        <a href="#">Delete Post/Comment/Sub-Comment</a>
        <a href="#">General Setting Data</a>
        <a href="approve-post.html">Approve Post</a>
        <a href="post-scheduled.html">Post Scheduled Jumping</a>
        <a href="sweeping.html">Sweeping</a>
		<a href="manage-profile.html">Manage Profiles</a>
		<a href="post-groups.html">Post Groups</a>
      </div>
      <span class="side-menu" id="openNav"><span class="glyphicon glyphicon-menu-hamburger"></span></span>
      <!--end side menu-->
      <span class="logo"><a href="index.html">Facebook Extension</a></span>
    </header>
    <div class="container" ng-app="gmapp" ng-controller="sweeping_edit">
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-12">
              <div class="left-sec"><a href="sweeping.html">
                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span> Back</button></a></div>
              <div class="midle-sec"><strong>Sweeping</strong></div>
              <div class="right-sec">
                <div class="btn-group right-sec-action">
                  <button type="submit" form="form1" class="btn btn-default">Save</button>
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
		                  <span class="caret"></span> 
                      <span class="sr-only">Toggle Dropdown</span>
                   </button>
                  <ul class="dropdown-menu">
                    <li><a href="#" ng-click="delete()" >Delete</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <p></p>
          <p></p>
          <div class="well">
            <form class="form-horizontal" name="form1" id="form1" ng-submit="submitForm()">
              <fieldset>
                <input type="hidden" id="sweeping_id" ng-model="sweeping_id" />
              
                <!-- Text input-->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="giftID">Profile Link</label>
                  <div class="col-md-4">
                    <input id="profile_url" name="profile_url" type="text" placeholder="Profile Link" class="form-control input-md" ng-model="profile_url">
                  </div>
                </div>
				
				<!-- Text input-->
				<div class="form-group">
					<label class="col-md-4 control-label" for="giftID">Block The Profile </label> 
						<div class="col-md-4">
   
							<label class="radio-inline"><input id="block_profile-yes" name="block_profile" type="radio" ng-model="block_profile" value='1'/>Yes</label>
							<label class="radio-inline"><input id="block_profile-no" name="block_profile" type="radio" ng-model="block_profile" value='0'/>No</label>
 		 
    
						</div>
				</div>
				
							<!-- Text input-->
				<div class="form-group">
					<label class="col-md-4 control-label" for="giftID">Remove The Profile </label> 
						<div class="col-md-4">
   
							<label class="radio-inline"><input id="	remove_profile-yes" name="	remove_profile" type="radio" ng-model="	remove_profile" value='1'/>Yes</label>
							<label class="radio-inline"><input id="	remove_profile-no" name="	remove_profile" type="radio" ng-model="	remove_profile" value='0'/>No</label>
						</div>
				</div>
				<!-- Text input-->
				<div class="form-group">
					<label class="col-md-4 control-label" for="giftID">Delete The Profile </label> 
						<div class="col-md-4">
   
							<label class="radio-inline"><input id="	delete_post_of_profile-yes" name="	delete_post_of_profile" type="radio" ng-model="	delete_post_of_profile" value='1'/>Yes</label>
							<label class="radio-inline"><input id="	delete_post_of_profile-no" name="	delete_post_of_profile" type="radio" ng-model="	delete_post_of_profile" value='0'/>No</label>
						</div>
				</div>
                <!-- Select action -->
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Data Saved</h4>
          </div>
          <div class="modal-body">
            <p>Sweeping successfully saved.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">
               OK
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="myModalDelete" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Data Deleted</h4>
          </div>
          <div class="modal-body">
            <p>sweeping successfully deleted.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">
               OK
            </button>
          </div>
        </div>
      </div>
    </div>

    <script src="js/menu.js"></script>
	<script src="app/app.js"></script>
	<script src="app/controllers/sweeping.js"></script>
</body>

</html>